{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<script src="http://d3js.org/d3.v3.min.js"></script>
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #bbb;
  stroke-opacity: 0.3;
}
</style>

{% endblock %}
{% block title %}Connected{% endblock %}


{% block page_content %}

<div class="page-header">
    <h2>Hash-To-Min Algorithm Visualization</h2>
</div>
<div class="btn-group-lg">
  <a href="/graph/18" class="btn btn-default">init</a>
  <a href="/graph/19" class="btn btn-default">1</a>
  <a href="/graph/20" class="btn btn-default">2</a>
  <a href="/graph/21" class="btn btn-default">3</a>
  <a href="/graph/22" class="btn btn-default">4</a>
  <a href="/graph/23" class="btn btn-default">5</a>
</div>
<img src="{{ url_for('static', filename='pic/result_1.png') }}" alt="..." align="center">

<div class="well">
After iteration 1:<br>
0 : [0, 4, 17, 23] <br>
1 : [1, 7, 25, 29] <br>
2 : [2, 7, 11, 12, 25, 26] <br>
3 : [3, 10, 13, 28] <br>
4 : [0, 4, 17, 23, 24, 30] <br>
5 : [5, 11, 13, 17, 19, 24, 25] <br>
6 : [6, 16, 18, 19] <br>
7 : [1, 2, 7, 29] <br>
8 : [8, 17, 21, 30] <br>
9 : [9, 13, 20, 24, 27, 28] <br>
10 : [3, 10, 28] <br>
11 : [2, 5, 11, 18, 19, 22] <br>
12 : [2] <br>
13 : [3, 5, 9] <br>
14 : [14, 15, 19, 22] <br>
15 : [14, 15, 22] <br>
16 : [6, 16, 18] <br>
17 : [0, 4, 5, 8] <br>
18 : [6, 11, 16] <br>
19 : [5, 6, 11, 14] <br>
20 : [9] <br>
21 : [8, 21, 30] <br>
22 : [11, 14, 15] <br>
23 : [0, 4] <br>
24 : [4, 5, 9] <br>
25 : [1, 2, 5] <br>
26 : [2] <br>
27 : [9] <br>
28 : [3, 9, 10] <br>
29 : [1, 7] <br>
30 : [4, 8, 21] 
</div>



{% endblock %}


